<div class="w-full">
  <table class="table-auto p-4 bg-white dark:bg-gray-900 rounded-lg shadow w-full">
    <tbody>
      <tr class="text-left text-gray-700 dark:text-gray-300">

        <td class="border-b-2 p-4 dark:border-gray-800">
          1
        </td>
        <td class="border-b-2 p-4 dark:border-gray-800">
          Jean Marc
        </td>
        <td class="border-b-2 p-4 dark:border-gray-800">
          Louis
        </td>
        <td class="border-b-2 p-4 dark:border-gray-800">
          Jl987
        </td>
      </tr>
    </tbody>
  </table>
</div>
