export COMPOSE_FILE=docker-compose.yml
export APP_IMAGE_NAME=`basename $PWD`

export HOST_UID=$(id -u)
export HOST_GID=$(id -g)

export POSTGRES_HOST=db
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=password

# Rollbar
export ROLLBAR_ACCESS_TOKEN=rollbar_access_token
