# frozen_string_literal: true

require "rails_helper"

describe "<%= file_name %> component" do
  subject { page }

  it "default preview" do
    visit("/dev/lookbook/preview/<%= File.join(class_path, file_name) %>/default")

    is_expected.to_not have_text "Failed"
  end
end

