<section class="bg-surface">
  <div class="rounded bg-blue-200 p-4">Hello TailwindCSS</div>
</section>

<%= link_to '/lookbook', target: :blank do %>
  <%= component(:atoms, :button, size: 'base') { 'Open Componet Catalog' } %>
<% end %>

<%= component :atoms, :button, color: 'secondary' do %>
    <i class="fas fa-dog"></i>
    <span>テスト</span>
<% end %>

<div class='p-4'>
  <%= component :atoms, :text, color: 'primary', size: 'small' do %>
    text content
  <% end %>
</div>

<div class="w-96 h-96 bg-white justify-start items-start inline-flex -gap-32">
  <div class="w-36 h-96 relative bg-indigo-950"></div>
  <div class="w-96 h-96 relative bg-slate-200 rounded-3xl"></div>
</div>
