<%= component :organisms, :header %>

<div class="justify-start items-start inline-flex">
  <%= component :organisms, :sidebar %>
  <div class="grow shrink basis-0 self-stretch p-2 bg-blue-50 justify-start items-start gap-2.5 flex">
    <div class="grow shrink basis-0 p-2.5 bg-indigo-100 rounded-md shadow flex-col justify-start items-start gap-2.5 inline-flex">
      <div class="p-1 justify-start items-start gap-2.5 inline-flex">
        <div class="text-indigo-950 text-lg font-medium font-['Inter'] leading-7">Section Header</div>
      </div>
      <div class="p-1 flex-col justify-start items-start gap-2.5 flex">
        <div class="self-stretch text-indigo-950 text-base font-light font-['Inter'] leading-normal">Section Content Text. Section Content Text.</div>
      </div>
    </div>
  </div>
</div>
