<div data-controller='dropdown' data-action="click->dropdown#toggle touch->toggle#toggle click@window->dropdown#hide" class="flex items-center ml-4 md:ml-6">
  <div class="relative ml-3">

    <div class="relative inline-block text-left">
      <div>
        <button data-dropdown-target="button" type="button" class="flex items-center justify-center w-full rounded-md  px-4 py-2 text-sm font-medium text-gray-700 dark:text-gray-50 hover:bg-gray-50 dark:hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 text-2xl" id="options-menu">
          <i class="fas fa-user-circle"></i>
        </button>
      </div>
      <div data-dropdown-target="menu" class="hidden absolute right-0 w-56 mt-2 origin-top-right bg-white rounded-md shadow-lg dark:bg-gray-800 ring-1 ring-black ring-opacity-5">
        <div class="py-1 " role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
          <a href="#" class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-600" role="menuitem">
            <span class="flex flex-col">
              <span>
                Settings
              </span>
            </span>
          </a>
          <a href="#" class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-600" role="menuitem">
            <span class="flex flex-col">
              <span>
                Account
              </span>
            </span>
          </a>
          <a href="#" class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-600" role="menuitem">
            <span class="flex flex-col">
              <span>
                Logout
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
