<div class="flex justify-end">
<%= component 'ui/user_dropdown', username: username, avatar_url: avatar_url do |profile| %>
  <% profile.with_dropdown_content do %>
    <div class="p-2">
      dropdown content
    </div>
  <% end %>
<% end %>
</div>
