<div data-controller='ui--header'>
  <nav data-controller='toggle' class="bg-white dark:bg-gray-800  shadow ">
    <div class="px-8 mx-auto max-w-7xl">
      <div class="flex items-center justify-between h-16">
        <div class=" flex items-center">
          <%= component '.brand', name: 'App Name' %>

          <div class="hidden md:block">
            <div class="flex items-baseline ml-10 space-x-4">
              <%= component '.nav_item', name: 'Home', url: root_path %>
            </div>
          </div>
        </div>
        <div class="block">
          <%= component '.user_drop_down' %>
        </div>
        <div class="flex -mr-2 md:hidden">
          <button data-action='click->toggle#toggle touch->toggle#toggle' class="text-2xl text-gray-800 dark:text-white hover:text-gray-300 inline-flex items-center justify-center p-2 rounded-md focus:outline-none">
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
    <div data-toggle-target='toggleable' class="hidden md:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <%= component '.nav_item', name: 'Home', url: root_path, style: 'sp' %>
      </div>
    </div>
  </nav>
</div>

