<%= link_to url do %>
  <button class="flex items-center p-2 text-gray-400 bg-white rounded-full shadow hover:text-gray-700 text-md">
    <i class="w-5 h-5 fas <%= icon %>"></i>
  </button>
<% end %>
