<div class="justify-start items-center gap-2.5 inline-flex">
  <%= vite_image_tag 'images/logo.png', class: 'w-12 h-12' %>
  <%= render Atoms::TextComponent.new(color: 'primary', size: '2xl', font: 'Inter', weight: 'bold') do %>
    <%= @brand %>
  <% end %>
</div>
