<div class="w-28 h-8 justify-start items-start gap-2.5 inline-flex">
  <%= vite_image_tag 'images/logo.png', class: 'w-8 h-8' %>
  <%= render Atoms::TextComponent.new(color: 'primary', size: '2xl') do %>
    Menty
  <% end %>
</div>
