<button class="<%= dynamic_classes %> px-2 py-1 rounded shadow justify-start items-start gap-1 inline-flex">
  <%= render Atoms::TextComponent.new(color: @color, size: @size) do %>
    <%= content %>
  <% end %>
</button>
