<div class="self-stretch p-2 bg-indigo-950 flex-col justify-between items-start inline-flex">
  <div class="grow shrink basis-0 flex-col justify-start items-start gap-2.5 flex">
    <div class="flex-col justify-start items-start gap-2.5 flex">
      <div class="justify-start items-center gap-1 inline-flex">
        <div class="w-4 h-4 relative bg-black bg-opacity-0"></div>
        <div class="text-indigo-50 text-lg font-medium font-['Noto Sans JP'] leading-7">Long Long NavText</div>
      </div>
    </div>
    <div class="flex-col justify-start items-start gap-2.5 flex">
      <div class="justify-start items-center gap-1 inline-flex">
        <div class="w-4 h-4 relative bg-black bg-opacity-0"></div>
        <div class="text-indigo-50 text-lg font-medium font-['Noto Sans JP'] leading-7">NavText</div>
      </div>
    </div>
    <div class="flex-col justify-start items-start gap-2.5 flex">
      <div class="justify-start items-center gap-1 inline-flex">
        <div class="w-4 h-4 relative bg-black bg-opacity-0"></div>
        <div class="text-indigo-50 text-lg font-medium font-['Noto Sans JP'] leading-7">NavText</div>
      </div>
    </div>
  </div>
</div>
