<%%= component 'ui/headings/h1', title: t('.title') %>

<div class="my-4">
  <div class="grid grid-cols-1 gap-4 my-4">
    <%%= component 'ui/card' do %>
      <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
    <%% end %>

    <div class="flex justify-end">
      <%%= link_to <%= plural_table_name %>_path do %>
        <%%= component 'ui/button', label: t('button.back'), style: 'teritary' %>
      <%% end %>
    </div>

  </div>
</div>
