<div class="relative w-full mb-4 bg-white shadow-lg dark:bg-gray-700">
  <div class="px-4 py-6 h-full">
    <%= content %>
  </div>
  <div class="w-full h-3 bg-gray-100">
    <div class="<%= progress_bar_width %> <%= progress_bar_color %> h-full text-xs text-center">
    </div>
  </div>
</div>
