<a href="#" class="relative block">
  <div class="flex items-center space-x-4 text-gray-300">
    <img alt="profil" src="https://place-hold.it/100x100/" class="mx-auto object-cover rounded-full h-10 w-10 "/>
    <button class="flex items-center text-gray-500 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 text-md">
      <span>Charlie R</span>
      <span class="text-base px-2"><i class="fas fa-caret-down"></i></span>
    </button>
  </div>
</a>
