<div class="relative hidden h-screen shadow-lg lg:block w-80">
  <div class="h-full bg-white dark:bg-gray-700">
    <%= component '.brand' %>

    <nav class="mt-6">
      <%= component '.nav_item', name: 'Dashboard', icon: 'fa-house', url: '#', active: true %>
      <%= component '.nav_item', name: 'Navigation 1', icon: 'fa-file', url: '#' %>
      <%= component '.nav_item', name: 'Navigation 2', icon: 'fa-file', url: '#' %>
    </nav>
  </div>
</div>
