<div class="relative hidden h-screen shadow-lg lg:block w-80">
  <div class="h-full bg-white dark:bg-gray-700">
    <%= brand %>

    <nav>
      <% nav_items.each do |nav_item| %>
        <%= nav_item %>
      <% end %>
    </nav>
  </div>
</div>
