<div data-controller="toggle" class="">
  <div class="z-10 fixed inset-0 bg-black bg-opacity-50 hidden" data-toggle-target="toggleable" data-action="click->toggle#toggle touch->toggle#toggle"></div>

  <div class="z-30 fixed lg:relative">
    <div data-toggle-target="toggleable" class="z-40 hidden h-screen w-60 shadow-lg lg:block">
      <div class="h-full bg-white dark:bg-gray-700">
        <%= brand %>

        <nav>
          <% nav_items.each do |nav_item| %>
            <%= nav_item %>
          <% end %>
        </nav>
      </div>
    </div>

    <div class="z-30 w-20 h-16 absolute top-0 -right-20 block lg:hidden flex justify-center items-center">
      <button data-action="click->toggle#toggle touch->toggle#toggle" class="flex items-center p-2 rounded-full shadow text-lg text-gray-500 bg-white hover:text-gray-600 hover:bg-gray-100">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</div>
